.cart-container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cartItem {
  list-style-type: none;
  padding: 0;
}

.cartItem li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.cartItem li span.item-name {
  font-weight: bold;
}

.cartItem li span.item-quantity {
  color: #555;
  margin-left: 10px;
}

.cart-buttons {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-top: 20px;
}

.checkout-button,
.return-button {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px; 
  background-color: #e9d8a6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-button:hover,
.return-button:hover {
  background-color: #218838;
}
