.profile-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
  font-size: 24px;
  margin-bottom: 20px;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-section {
  margin-bottom: 20px;
}

.edit-input {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.save-button {
  background-color: #e9d8a6;
  color: black;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.user-details {
  margin-bottom: 20px;
}

.return-button {
  background-color: #e9d8a6;
  color: black;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.return-button:hover {
  background-color: #e8bb35;
}

.button-container {
  display: flex;
  justify-content: flex-end; 
  margin-top: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .profile-container {
    max-width: 100%;
    padding: 10px;
  }

  .profile-header {
    font-size: 20px;
  }
}
