/* Footer.css */

:root {
  --color5: #e9d8a6;
  --color1: #001219;
}

/* Footer styles */
.footer {
  background-color: #e9d8a6;
  color: #131313;
  padding: 20px;
  text-align: center;
  /* Set the width here */
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1 1 calc(33.33% - 2rem);
  margin: 0 1rem;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #bb3e03;
}

p {
  margin: 0;
}

.map-container {
  width: 100%;
  max-width: 300px; /* Adjust the max-width as needed for larger screens */
  margin-top: 20px;
}

.map {
  width: 100%;
  height: 300px; /* Adjust the height as needed */
  border-radius: 8px; /* Add border-radius for a rounded appearance */
  overflow: hidden; /* Hide any overflowing content within the map container */
}


/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column; 
  }

  .footer-section {
    flex: 1 1 100%;
    margin: 0;
    margin-top: 1rem; 
  }
}

