/* @import url('https://fonts.googleapis.com/css?family=Segoe+UI:400,700&display=swap');

/* Apply the provided :root styles for colors */
:root {
  --color1: #001219;
  --color2: hsl(190, 100%, 23%);
  --color3: #3d9397;
  --color4: #94d28d;
  --color5: #e9d8a6;
  --color6: #ee9800;
  --color7: #ca6702;
  --color8: #bb3e03;
  --color9: #ae2012;
  --color10: #9b2226;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #dbe5de;
  padding: 0;
  margin: 0;
}

/* Basic styles for the navbar */
.navbar {
  background-color: #e9d8a6;
  color: #ffffff;
  padding: 10px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo styles */
.logo img {
  max-width: 200px;
  height: auto;
}

/* Title styles */
h1 {
  margin: 0;
}

/* Link styles */
.links {
  display: flex;
  align-items: center;
}

.link {
  color: #ffffff;
  text-decoration: none;
  margin-right: 20px;
  font-size: 16px;
}

/* Button styles */
.links button {
  background-color: #131212;
  color: #e1e9ef;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

/* Cart logo styles */
.link img {
  max-width: 30px;
  height: auto;
  margin-left: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .links {
    flex-direction: column;
    align-items: flex-start;
  }

  .link {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
