/* Navbar styles */
.navbar {
  background-color: #001219;
  color: white;
  padding: 1rem 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo img {
  width: 50px;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
}

.links {
  display: flex;
  align-items: center;
}

.link {
  margin-right: 1rem;
  text-decoration: none;
  color: white;
}

.linkLogo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.linkLogo img {
  width: 30px;
  margin-left: 0.5rem;
}

/* Responsive styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .links {
    margin-top: 1rem;
  }

  .link,
  .linkLogo {
    margin: 0.5rem 0;
  }
}
